[submodule "library/ssd1306"]
	path = library/ssd1306
	url = https://github.com/lexus2k/ssd1306
[submodule "library/u8glib"]
	path = library/u8glib
	url = https://github.com/olikraus/u8glib
[submodule "library/u8g2"]
	path = library/u8g2
	url = https://github.com/olikraus/u8g2
[submodule "library/SSD_13XX"]
	path = library/SSD_13XX
	url = https://github.com/sumotoy/SSD_13XX
[submodule "library/SSD1306Ascii"]
	path = library/SSD1306Ascii
	url = https://github.com/greiman/SSD1306Ascii
